body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: navy;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}
#location{
    padding-left: 10px;
}
h2 {
    padding-left: 10px;
}
.sidebar{
    background-color: lightblue;
    width: 180px;
    border: 2px solid black;
}

main{
    display: flex;
    flex-direction: row;
}
#day1Card{
    margin-left: 5px;
}
#conditions li{
list-style: none;
}
#dayCards{
    display: flex;
    flex-wrap: wrap;
          
}
#dayCards ul{
    border: 3px solid black;
    border-radius: 2px;
    margin-left: 3px;
    padding-bottom: 10px;
    padding-top: 10px
}
#dayCards li{
list-style-type: none;
padding-right: 25px;

}
.forecastDate{
    font-weight:bold;
}
#currentDayBox{
    border: 3px solid black;
    margin-left: 3px;
    margin-top: 3px;
}