body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: navy;
    color: whitesmoke;
    display: flex;
    justify-content: center;
}
.sidebar{
    background-color: lightblue;
    width: 180px;
}

main{
    display: flex;
    flex-direction: row;
}
#conditions li{
list-style: none;
}